:root{
    --primary : #27566B;
    --button-color : #06293D;
}

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    height: 100vh;
    gap: 1em;
}
.dflex{
    display: flex;
}

.dflex.jcc{
    justify-content: center;
}

.dflex.jcsb{
    justify-content: space-between;
}

.dflex.aic{
    align-items: center;
}

.dflex.fdc{
    flex-direction: column;
}
.dflex.jce{
        justify-content: flex-end;
}


.flex1{
    flex: 1;
}

.flex2{
    flex: 2;
}

.pos-rel{
    position: relative;
}
.pos-ab{
    position: absolute;
}
button{
    cursor: pointer;
}
.dnone{
    display: none;
}

/* ------------------------ */
.card{
    width: 40%;
    height: 60%;
    min-width: 30em;
    background-color: var(--primary);
    border-radius: 1rem;
    color: white;
}

.card-head{
    width: 90%;
    height: 45%;
    gap: 1em;
    border-bottom: 0.1rem solid white ;
}

.card-head-info{
    width: 58%;
    height: 90%;

}
.info-user{
    width: 90%;
    height: 20%;
    justify-content: space-between;
    color: white;
}
.card-head-img{
    width: 40%;
    height: 90%;
    border-left: 0.1rem solid white ;

}
.card-head-img img{
    width: 90%;
    height: 90%;
    border-radius: 0.5em;
}

.card-table{
    width: 90%;
    height: 54%;
    overflow-y: scroll;
    
}
.container-btn{
    width: 40%;
    
}
.container-btn button{
    background-color: var(--primary);
    padding: 0.8em;
    font-size:0.8rem;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
}

table{
    width: 100%;
    background-color: #799eb0;
}
tr,td{
    text-align: center;
    /* line-height: 30px; */
    border: 0.1em solid;
}

.form.hide{
    display: none;
}

tbody
{
    max-height: 100px;
    overflow :scroll;
}

.container-btn-transaction{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
}

.btn-detail{
    font-weight: 900;
    font-size: 1.8rem;
    cursor: pointer;
}

.modal-ajout{
    width: 40%;
    height: 70%;
    left: 100%;
    top: 0%;
    background-color: var(--primary);
    border-radius: 1rem;
    color: white;
    gap: 1.5rem;
    padding-top: 1em;
    
}

.modal-ajout .form-control{
    width: 90%;
    height: 15%;
    gap: 0.1rem;
   
    
}
.modal-ajout .form-control input, .modal-ajout .form-control select{
    width: 90%;
    height: 80%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    outline-color: var(--primary);
    color: var(--button-color);
    
}

.modal-ajout .form-control label{
    align-self: flex-start;
    padding: 0rem 0.8rem;
    font-weight: bold;
}
.modal-ajout .form-control button{
    color: white;
    background-color: var(--button-color);
    width: 90%;
    height: 90%;
    border-radius: 0.3rem;
    border: 0.1rem white;
    
}

.loader{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.4;
}
.loader div{
    width: 3rem;
    height: 3rem;
    align-self: center;
    border: 0.2em solid #06293D;
    border-bottom: none;
    border-radius: 50%;
    animation: rotate 0.8s linear infinite;
}

.contain-search{
    top: 100%;
    left: 5%;
    width: 90%;
    height: auto;
    background-color: var(--button-color);
    gap: 0.1em;
    padding: 0.2em;
}
ul li{
    width: 100%;
    height: 2em;
    border-bottom: 1px solid;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
ul li:hover{
    transform: scale(1.1);
}
#search-user{
    width: 100%;
    height: 15%;
}

.contain-input-search{
    width: 50%;
    height: 90%;
}
.input-search{
    width: 90%;
    height: 90%;
    border: 0.1em solid;
    margin-right: 0.5em;
    border-radius: 0.5em;
    padding: 0.8em;
    font-size: medium;
    outline-color: var(--button-color);
    color:var(--primary);
    margin: 0.4em;
}
#search-user{
    width: 100%;
    height: 10%; 
}
#search-user-result{
    top: 50%;
    left: 3%;
    height: auto;
    background-color: var(--button-color);
    padding: 0.2em;
}
#search-user-result li{
    width: 100%;
    height: 1em;
    border-bottom: 0.1em solid;
    padding: 1.2em;
}
#search-user-result li:hover{
    transform: scale(1.1);
}

i{
    cursor: pointer;
    padding: 0.2em;
    font-size: 1.3rem;
}

.btn-annuler{
    background-color: red;
    border: 0.1em solid white;
    outline-color: white ;
    border-radius: 0.3em;

}


.modal-ajout-add, .modal-ajout-delete{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #06293d26;
    border-radius: 0em;
    z-index: 1;

}



.form-ajout{
    min-width: 20em;
    width: 40%;
    height: 80%;
    /* border: 0.1em solid var(--primary); */
    border-radius: 1em;
    background-color: white;
    gap: 0.3em;
    color: var(--button-color);
    opacity: 4;
}

.container-info-add{
    width: 100%;
    height: 60%;
    /* background-color: red; */
}

.info-modal-addd{
    width: 55%;
    height: 100%;
    /* background-color: green; */
}

.info-modal-addd .form-control-add{
    width: 100%;
    height: 25%;
    /* border: 0.1em solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0.3em;
    color: var(--primary);
    /* background-color: red; */
}

.info-modal-addd .form-control-add input{
    width: 90%;
    padding: 0.6em;
    outline-color: var(--primary);
    border-radius: 0.5em;
    border: 0.1em solid var(--primary);
}
.container-img-add{
    width: 40%;
    height: 100%;
    /* background-color: yellow; */
}
.container-img-add label {
    width:100%;
    height: 60%;
    /* background-color: blue; */
}
.container-img-add label img{
    width:100%;
    height: 60%;
    margin: 0.1em;
    border-radius: 1em;
    cursor: pointer;
    border: 0.1em solid var(--primary);
    /* background-color: blue; */
}
.container-button-add{
    width: 100%;
    height: 15%;
    /* background-color: #06293D; */
}

.container-button-add button{
    width: 40%;
    height: 70%;
    border: 0.1em solid white;
    border-radius: 1em;
    color: white;
    
}
.container-button-add button:first-child{
    background-color: red;
}
.container-button-add button:last-child{
    background-color: var(--button-color);
}


.card-confirm-delete{
    width: 30%;
    height: 30%;
    background-color: white;
    border-radius: 1em;
    color: var(--button-color);
}

.contain-btn-del{
    width: 100%;
    height: 100%;
    gap: 0.5em;
}
.contain-btn-del button{
    width: 30%;
    padding: 0.6rem;
    color: white;
    border: 0.1em solid white;
    border-radius: 0.5em;
}

.contain-btn-del button:first-child{
    background-color: var(--button-color);
}

.contain-btn-del button:last-child{
    background-color: red;
}





@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


