*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    height: 100vh;
}
.dflex{
    display: flex;
}

.dflex.jcc{
    justify-content: center;
}

.dflex.jcsb{
    justify-content: space-between;
}

.dflex.aic{
    align-items: center;
}

.dflex.fdc{
    flex-direction: column;
}

.flex1{
    flex: 1;
}

.flex2{
    flex: 2;
}


/* ------------------------ */
.card{
    height: 50vh;
    width: 40%;
    background-color: #27566B;
    padding: 10px;
    color: #E5E8E9;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

img{
    width: 100%;
    height: 100%;
}
.photo{
    border-left: 2px solid #E5E8E9;
    padding-left: 10px;
}

.infos{
    height: 40%;
}

.info{
    padding-right: 10px;
}

.row .label{
    font-size: 2rem;
    font-weight: 900;
}

.row .data{
    font-size: 1.5rem;
}

.title{
    font-size: 1.5rem;
}

.btn-detail{
    font-weight: 900;
    font-size: 1.8rem;
    cursor: pointer;
}

.form{
    position: absolute;
    padding: 10px;
    top: 0;
    left: 100%;
    background-color: #27566B;
    /* background-color: #06293D;27566B */
}

.form-group{
    margin-bottom: 10px;
}

.from-control{
    width: 200px;
    padding: 10px;
    text-align: center;
}

.form-group label{
    font-size: 1.20rem;
}

input.from-control{
    font-size: 1.5rem;
    border-radius: 5px;
    border: #799eb0;
    outline: none;
}

select{
    outline: none;
    border-radius: 5px;
}

.form button{
    width: 100%;
    background-color: #06293D;
    color: #E5E8E9;
    outline: none;
    border: 1px solid #799eb0;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.next{
    padding: 5px 20px;
    font-size: 1.09rem;
    margin-top: 10px;
    background-color: #27566B;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #E5E8E9;
}

button{
    cursor: pointer;
}

table{
    width: 100%;
    background-color: #799eb0;
}
tr,td{
    text-align: center;
    line-height: 30px;
    border: 0.1em solid;
}

.form.hide{
    display: none;
}

tbody
{
    height: 100px;
    overflow :scroll;
}

.transactions
{
    max-height: 50%;
    overflow-y: scroll;
}


.fa-plus
{
    /* position: absolute;
    
    top: 22%;
    left: 29%; */
    position: relative;
    background-color: #27566B;
   
 
}
.fa-plus::after
{
    content: "Ajouter un nouveau client";
    position: absolute;
    font-size: 0.4em;
    width: 1000%;
    top: -100%;
    border: 0.1em solid;
    border-radius: 1em;
    background-color: green;
    color: white;
    font-weight: bold;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: transition;
    transition-duration: 0.1s;
    opacity: 0;
}
.fa-plus:hover.fa-plus::after
{
  opacity: 1;
}

#deleteNewuser
{
    
    position: relative;
    color: brown;
    height: 1.3em;
    width: 1.3em;
    
}


#deleteNewuser::after
{
    content: "Supprimer un client";
    position: absolute;
    font-size: 0.6em;
    padding: 0.11em;
    top: -60%;
    left: 30%;
    width: 600%;
    right:100%;
    color: white;
    background-color:brown;
    border-radius: 1em;
    opacity: 0;

}
#deleteNewuser:hover#deleteNewuser::after
{
    opacity: 1;

}


.search input 
{
    width: 100%;
    height: 100%;
    border-radius:1em ;


}

.modale
{
    height: 40%;
    width: 20%;
    background-color: #27566B;
    position: absolute;
    border-radius: 1rem;
    top: 20%;
    left: 10.5%;
    gap: 0.5em;
    display: none;
    color: white;
}


.modale input
{
    height: 10%;
    border-radius: 1rem;
}



#delUser
{  
    height: 40%;
    width: 20%;
    background-color: #27566B;
    position: absolute;
    border-radius: 1rem;
    top: 20%;
    left: 10.5%;
    gap: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

#delUser input
{
    width: 80%;
    height: 10%;
    border-radius: 2em;
}

#delUser div button
{
    padding: 1rem;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 1em;
}
#modifiericn
{
    position: absolute;
    top: 20%;
    left: 19%;
    background-color: #27566B;
    color: white;
    /* visibility:hidden; */
}

#modifiericn::after
{
    content:"Modifier les infos du client";
    position: absolute;
    font-size: 0.9rem;
    padding: 10%;
    background-color: blue;
    width: 600%;
    text-align: center;
    top: -60%;
    left:70%;
    opacity: 0;
}

#modifiericn:hover#modifiericn::after
{
    opacity: 1;
}


.container-recherche {
    position: absolute;
    width: 280px;
    top: 18%;
    left: 55%;
    z-index: 2;
    
}

.container-recherche #inputrecherche {
    padding: .6rem 2rem;
    border-radius: 10px;
    width: 100%;
}

.barre-info{
    list-style-type: none;

    background-color: #f1f1f1;
    color: #06293D;
    border-radius: 10px;
}

.infoClientRec {
    padding: .6rem 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.infoClientRec:hover {
    background-color: #27566B;
    color: #f1f1f1;
}

.infoClientRec .img {
    width: 30px;
    height: 30px;
    background-size: cover;
    border-radius: 50%;
}

.fa-eye
{
    color: black;
    transform: translate(900%,-200%);

}
#container-icone
{
    background-color: #27566B;
    width: 40%;
    position: absolute;
    top: 18%;
    left: 30%;
    gap: 2em;
    

}

#modale-modifie
{
    display: flex;
    flex-direction: column;
}